body
{
    background-size: cover;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

.minorheading
{
    font-size: 20px;
    margin: 10px;
}

canvas
{
    border: 5px solid white;
    border-radius:20px;
}